
@media only screen and (max-width: 650px) {
    .lower{
        float: left;
    }

    .back-button {
        margin-bottom: 20px
    }
}

.sticky-left-column {
    position: sticky;
    top: 110px;
}

@media only screen and (min-width: 650px) {
    .back-button {
        top: -170px;
        margin-right: 20px;
    }
}