
@media only screen and (max-width: 650px) {
    .lower{
        float: left;
    }

    .back-button {
        margin-bottom: 20px
    }
}

.sticky-left-column {
    position: sticky;
    top: 110px;
}

/* .back-button {
    position: fixed;
} */