
@media only screen and (max-width: 650px) {
    .lower{
        float: left;
    }
}

.column-1 {
    min-height: 1400px;
    position: sticky;
    top: 0;
}

.column-2 {
    height: 100%;
    overflow-y: auto
}