
@media only screen and (max-width: 650px) {
    .lower {
        float: left;
    }
}

.sticky-left-column-home {
    position: sticky;
    top: 130px;
    height: 550px;
    width: 100%;
    max-width: 300px;
    color: white;
    background-color: #222222;
    border-radius: 30px;
    text-align: left;
    /* z-index: 10; */
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

@media only screen and (min-width: 1300px) {
    .sticky-left-column-home {
        position: fixed;
    }
}

@media screen and (max-width: 768px) {
    .sticky-left-column-home {
        height: 100px;
        max-width: 100%;
        width: 100%;
    }
}

/* @media screen and (min-width: 768px) {
    .column-2 {
        position: relative;
        top: -40px;
    }
} */