.user-info {
    padding: 15px;
    margin-top: 10px;
    width: 100%;
}

.fa {
    margin-left: 25px;
}

.nav-selction {
    height: 45px;
}

.nav-items-outer {
    padding-top: 15px;
    padding-bottom: 140px;
    border-radius: 30px;
}

.nav-selction:hover {
    background-color: #322c60;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 30px;
}

.fa-right {
    margin-right: 15px;
}

.page-selected {
    background-color: #483f88;
    border-radius: 30px;
}

@media screen and (max-width: 890px) {
    .profile-side-text {
        display: none;
    }

    .fa {
        margin: 0px 0px 0px 15px;
    }
}

@media screen and (min-width: 890px) {
    .top-nav {
        margin-top: 90px !important;
    }
}
