.clicked {
    color: white;
}

.unclicked {
    color: rgb(206, 206, 206);
}

.center {
    width: 75rem;
	margin: 0 auto; 
}

.container {
    /* Setup */
    position: relative;
  }

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: block;
}

@media screen and (max-width: 600px) {
    .center {
        min-width: 100%; 
        max-width: 100%; 
    }
}