.cover-image-preview-outer {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .cover-image-preview-outer {
        width: 80%;
    }
}

.cover-preview {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0)
    /* -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 3px 3px 0px 0px #289FED, 6px 6px 0px 0px #5FB8FF, 9px 9px 0px 0px #A1D8FF, 12px 12px 0px 0px #CAE6FF, 5px 5px 15px 5px rgba(0,0,0,0);        */
}