.fa-star-o-unrated-light {
    color: black;
}

.fa-star-unrated-light {
    color: black;
}

.fa-star-o-unrated-dark {
    color: white;
}

.fa-star-unrated-dark {
    color: white;
}

.fa-star-rated {
    color: #ffd600;
}